form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #c2b4b4;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
}

button {
  background-color: #5c032d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #1b000b;
}

.card {
  background: #dad3d370;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
